@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

:root {
  --primary: #0080ff;
  --primary-light: #f2f9ff;
}

body {
  font-family: "Inknut Antiqua", Arial, Helvetica, sans-serif;
}
