@import url("https://fonts.googleapis.com/css2?family=Inder&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --primary: #0080ff;
  --primary-light: #f2f9ff;
}

* {
  /* outline: 1px solid red; */
  @apply duration-300 transition-all ease-in-out;
}

.inknut-antiqua {
  font-family: "Inknut Antiqua", sans-serif;
}

body {
  font-family: "Inder", Arial, Helvetica, sans-serif;
}

button {
  @apply cursor-pointer;
}
input {
  @apply border-[var(--primary)] border-3;
}
